@{
  Layout = "_Layout";
}
<body>
  <div class="container-fluid">
    <h1>Word Repeat Finder:</h1>
    <form action="/results" method="post">
      <label for="wordInput">Find Word:</label>
      <input type="text" name="wordInput" class="form-control" style="width:50%"><br>
      <label for="sentenceInput">Enter Sentence:</label>
      <textarea rows="8" cols="80" id="sentenceBox" name="sentenceInput" class="form-control" style="width:50%"><br>
      <br>
      <button type="submit" name="button">Check for Word</button>
    </form>
  </div>
</body>
