@{
  Layout = "_Layout";
}
<body>
  <div class="">
    <h1>Word Repeat Finder:</h1>
    <form action="/results" method="post">
      <label for="wordInput">Find Word:</label>
      <input type="text" name="wordInput" class="form-control" style="width:50%"><br>
      <label for="sentenceInput">Enter Sentence:</label>
      <input type="text" id="sentenceBox" name="sentenceInput" class="form-control" style="width:50%; height: 100px;"><br>
      <br>
      <button type="submit" name="button">Check for Word</button>
    </form>
  </div>
</body>
