@{
  Layout = "_Layout";
}
<body>
  <div class="container-fluid">
    <h1>Word Count:</h1>
    <table style="width:100%">
    <tr>
      <th><h3 style="text-align:center"><strong>Word Searched:</strong></h3></th>
      <th><h3><strong>Sentence Input:</strong></h3></th>
      <th><h3 style="text-align:center"><strong>Number of Word Repeats:</strong></h3></th>
    </tr>
    <tr>
      <td><h3 style="text-align:center">@Model["Word"]</h3></td>
      <td>@Model["Sentence"]</td>
      <td><h3 style="text-align:center">@Model["Repeats"]</h3></td>
    </tr>
  </table>
  <br>
    <a href="/">Check New Word</a>
  </div>
</body>
